<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="thing" type="Stuff, Thing" />
  </configSections>
  <appSettings>
    <add key="foo.blank" value="" />
    <add key="foo.bar" value="bar" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="My.ConnectionA" providerName="System.Data.ProviderName" connectionString="" />
    <add name="my.connection_b" providerName="System.Data.ProviderName" connectionString="Dev Connection String;" />
  </connectionStrings>
</configuration>